html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

nav .nav-wrapper {
    background-color: #00bbd3;
}

.brand-logo {
    margin-left:3rem;
}
#nav-mobile {
    margin-right:2rem;
}

.navigation-bar {
    margin-top:3rem;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

#amount-to-loan {
    width:60%;
    margin-left:20%;
    margin-top:3rem;
}

#amount-to-loan input::after {
    background-color:white;
    color:white;
}


.sliders {
    margin-top:2rem;
    margin-left:20%;
    margin-right:30%;
}

.input-field {
    position:relative;
    float:left;
    margin-top:8rem;
    width: 18rem;
    height:10rem;
}

#loan-amount {
    position:relative;
    background: #00bbd3;
    height: 250px;
    margin:10px;
    float:left;
    margin-left:20%;
    margin-right:12.5%;
}

span#span {
    position:absolute;
    z-index: 100;
    bottom:-4rem;
    width:150px;
    left:-2.6rem;
}

.noUi-base {
    background:white;
}

#loan-amount .noUi-connect {
    background:#00bbd3;
}

#num-loans {
    position:relative;
    background: #00bbd3;
    height: 250px;
    margin:10px;
    float: left;
    margin-left:12.5%;
    margin-right:12.5%;

}

#num-loans .noUi-connect {
    background:#00bbd3;
}


#risk-tolerance {
    position:relative;
    background: #00bbd3;
    height: 250px;
    margin:10px;
    float: left;
    margin-left:12.5%;
    margin-right:20%;

}

#risk-tolerance .noUi-connect {
    background:#00bbd3;
}

#bar_chart svg {
    margin-left:27%;
    margin-top:4rem;
    fill: #4caf50;
}
#bar_chart span {
    position:absolute;
    margin-left: 46%;
    font-size:2rem;
    color:#00bbd3;
    margin-top:2rem;
}

#modal-btn {
    position:relative !important;
    margin-right:37% !important;
    width:25% !important;
    margin-left:37% !important;
    top:6rem !important;
    background-color:#00bbd3 !important;
    margin-bottom:10rem !important;
}

#modal-btn-zubat {
    background-color:white !important;
}
