

<div id="bar_chart"><span class="roi-label">ROI</span></div>
<div class="sliders">
    <div id="loan-amount"><span id="span">Amount to Loan</span></div>
    <!-- <div id="num-loans"><span id="span">Number of Loans</span></div> -->
    <div id="risk-tolerance"><span id="span">Risk Tolerance</span></div>
</div>
<div class="input-field col s12">
    <select id='loan-purpose' >
        <!-- <option value="" disabled selected>Choose Loan Purpose</option> -->
        <option value="any" selected>Any</option>
        <option value="credit_card">Credit Card</option>
        <option value="car">Car</option>
        <option value="small_business">Small Business</option>
        <option value="wedding">Wedding</option>
        <option value="debt_consolidation">Debt Consolidation</option>
        <option value="home_improvement">Home Improvement</option>
        <option value="major_purchase">Major Purchase</option>
        <option value="medical">Medical</option>
        <option value="moving">Moving</option>
        <option value="vacation">Vacation</option>
        <option value="house">House</option>
        <option value="renewable_energy">Renewable Energy</option>
        <option value="educational">Education</option>
        <option value="other">Other</option>
    </select>
    <label>Loan Purpose</label>
</div>`


<!-- JAVASCRIPT -->
<script>
    $(document).ready(function() {
        $('select').material_select();
    });

    var purpose_field = document.getElementById('loan-purpose');
    var purpose = 'any';

    // Initialize values:
    var loan_amount = 10000;
    var num_loans = 1;
    var risk = 50;
    var loan_pred = 10.0;

    // Draw the d3 thing~
    var chart = d3.select("#bar_chart")
                   .append("svg:svg")
                   .attr("width", 800)
                   .attr("height", 100);

     var chance_scale = d3.scale.linear()
                                .domain([0, 100])
                                .range([0, 800]);

     var bar = chart.append("g")
                    .attr("class", "bar")

       bar.append("svg:rect")
          .attr("id", "chancebar")
          .attr("class", "bar")
          .attr("width", chance_scale(loan_pred))
          .attr("height", 50);

     bar.append("text")
        .attr("id", "percent_text")
        .attr("dy", ".75em")
        .attr("y", 15)
        .attr("x", chance_scale(loan_pred-5))
        .attr("text-anchor", "middle")
        .attr("fill", "white")
        .attr("font-size", 20)
        .text( loan_pred.toFixed(1) + "%");

    <!-- FUNCTION TO GET PREDICTIONS AND START ALTERING D3 STUFFZ  -->
    function getAndDrawChance(loan_amount, threshold, purpose){

        var data = JSON.stringify({
            "loan_amount": loan_amount,
            "threshold": threshold,
            "purpose": purpose
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/lend/",
            dataType: "json",
            async: true,
            data: data,
            success: function (data) {
                console.log(data.length);
                // data is returned as a list of json objects
                // to access an element do data[i]['<field_name>']
                // console.log(data[0]['profit_loss']);
                // console.log(data.length)
                var avg_roi = 2;
                var data = data['loan_data']
                if (data.length > 0){
                    for (i = 0; i < data.length; i++) {
                        avg_roi += 100 * data[i]['profit_loss']/data[i]['funded_amount'];
                    }
                    avg_roi = avg_roi/data.length;
                    console.log("avg roi: ",avg_roi);
                    // var chance = 100 * data[i]["profit_loss"]/parseFloat(data[i]['funded_amount']);
                    // console.log(chance);
                    d3.select("#chancebar")
                    .attr("width", chance_scale(avg_roi*5));
                    d3.select("#percent_text")
                    .attr("x", chance_scale(avg_roi*5-5))
                    .text(avg_roi.toFixed(1) + "%");
                }
                else {
                    d3.select("#chancebar")
                    .attr("width", chance_scale(avg_roi*5));
                    d3.select("#percent_text")
                    .attr("x", chance_scale(avg_roi*5-5))
                    .text(avg_roi.toFixed(1) + "%");
                }
            },
                error: function (result) {
            }
        })
    }




    var loan_amnt_slider = document.getElementById('loan-amount');
    var loan_amnt_value = document.getElementById('loan_amount');
    noUiSlider.create(loan_amnt_slider, {
        start: 10000,
        connect:'lower',
        orientation:'vertical',
        direction:'rtl',
        tooltips: wNumb({ decimals: 1 }),
        step: 1,
        pips: {
    		mode: 'range',
    		density: 4
        },
        range: {
            'min': 2000,
            'max': 35000
        },
        format: wNumb({
        decimals: 0
        })
    });

    // var num_loans_slider = document.getElementById('num-loans');
    // var num_loans_value = document.getElementById('num_loans');
    // noUiSlider.create(num_loans_slider, {
    //     start: 1,
    //     connect:'lower',
    //     orientation:'vertical',
    //     direction:'rtl',
    //     tooltips: wNumb({ decimals: 1 }),
    //     step: 1,
    //     pips: {
    //         mode: 'values',
	// 	    values: [1,2,3,4,5,6,7,8,9,10],
	// 	    density: 8
	//     },
    //     range: {
    //     'min': 1,
    //     'max': 10
    //     },
    //     format: wNumb({
    //     decimals: 0
    //     })
    // });

    var risk_slider = document.getElementById('risk-tolerance');
    var risk_value = document.getElementById('risk');
    noUiSlider.create(risk_slider, {
        start: 50,
        connect:'lower',
        orientation:'vertical',
        direction:'rtl',
        tooltips: wNumb({ decimals: 1 }),
        step: 1,
        pips: {
            mode: 'range',
            density: 4
        },
        range: {
        'min': 1,
        'max': 100
        },
        format: wNumb({
        decimals: 0
        })
    });

    var amnt_handle = loan_amnt_slider.getElementsByClassName('noUi-handle');
    // var num_loans_handle = num_loans_slider.getElementsByClassName('noUi-handle');
    var risk_handle = risk_slider.getElementsByClassName('noUi-handle');

    // Controls what happens when sliders are used
    loan_amnt_slider.noUiSlider.on('update',function(values, amnt_handle){
        loan_amount = parseFloat(values[amnt_handle]);
        getAndDrawChance(loan_amount,risk,purpose);
    });
    // num_loans_slider.noUiSlider.on('update',function(values, num_loans_handle){
    //     num_loans = parseFloat(values[num_loans_handle]);
    // });
    risk_slider.noUiSlider.on('update',function(values, risk_handle){
        risk = (1 - (parseFloat(values[risk_handle])/100));
        getAndDrawChance(loan_amount,risk,purpose);
    });

    $('#loan-purpose').change(function() {
        purpose = purpose_field.value;
        getAndDrawChance(loan_amount,risk,purpose);
    })

    getAndDrawChance(loan_amount,risk,purpose);



</script>
