<style>
#modal-btn .modal-trigger .btn {
    position:relative;
    margin-right:45%;
    width:10%;
    margin-left:45%;
    top:6rem;
}
</style>

<div id="bar_chart"><span class="roi-label">ROI</span></div>
<div class="sliders">
    <div id="loan-amount"><span id="span">Amount to Loan</span></div>
    <!-- <div id="num-loans"><span id="span">Number of Loans</span></div> -->
    <div id="risk-tolerance"><span id="span">Risk Level</span></div>
</div>
<div class="input-field col s12">
    <select id='loan-purpose' >
        <!-- <option value="" disabled selected>Choose Loan Purpose</option> -->
        <option value="any" selected>Any</option>
        <option value="credit_card">Credit Card</option>
        <option value="car">Car</option>
        <option value="small_business">Small Business</option>
        <option value="wedding">Wedding</option>
        <option value="debt_consolidation">Debt Consolidation</option>
        <option value="home_improvement">Home Improvement</option>
        <option value="major_purchase">Major Purchase</option>
        <option value="medical">Medical</option>
        <option value="moving">Moving</option>
        <option value="vacation">Vacation</option>
        <option value="house">House</option>
        <option value="renewable_energy">Renewable Energy</option>
        <option value="educational">Education</option>
        <option value="other">Other</option>
    </select>
    <label>Loan Purpose</label>
</div>

<!-- Modal Trigger -->
<a id="modal-btn" class="modal-trigger waves-effect waves-light btn" href="#modal1">See Loan Information</a>
<!-- Modal Trigger -->
<a id="modal-btn-zubat" class="modal-trigger waves-effect waves-light btn" href="#modal-zubat">Z</a>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="modal-header"></h4>
        <p class='modal-loan-purpose'><strong>Loan Purpose:</strong> <span class='modal-purpose'></span></p>
        <p class='modal-loan-grade'><strong>Loan Grade: </strong><span class="modal-grade"></span></p>
        <!-- <p class="modal-loan-desc"><strong>Loan Description: </strong><span class='modal-desc'></span><p> -->
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Continue</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-zubat" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h2>Suddenly, ZUBAT</h2>
        <img src="static/zubat.png"/>
        <img src="static/zubat.png"/>
        <!-- <p class="modal-loan-desc"><strong>Loan Description: </strong><span class='modal-desc'></span><p> -->
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ZUBAT</a>
    </div>
</div>


<!-- JAVASCRIPT -->
<script>
    var title = 'No Loans Found';
    var actual_loan_purpose = "NA";
    var loan_grade = 'NA';
    var loan_desc = 'NA';

    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();

    });

    $('#modal-btn').click(function(e) {
        $('.modal-header').html(title);
        $('.modal-purpose').html(actual_loan_purpose);
        $('.modal-grade').html(loan_grade);
        // $('.modal-desc').html(loan_desc);
    });

    $(document).ready(function() {
        $('select').material_select();
    });

    var purpose_field = document.getElementById('loan-purpose');
    var purpose = 'any';

    // Initialize values:
    var loan_amount = 10000;
    var num_loans = 1;
    var risk = 50;
    var loan_pred = 5;

    // Draw the d3 thing~
    var margin = {top: 20, right: 30, bottom: 40, left: 30},
                    width = 500 - margin.left - margin.right,
                    height = 100 - margin.top - margin.bottom;

    var x = d3.scale.linear()
            .range([0,width])
            .domain([-30,30]);

    var svg = d3.select('#bar_chart').append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)

    var bar = svg.append("g")
                .attr("class", "bar")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

   bar.append("svg:rect")
      .attr("id", "chancebar")
      .attr("class", "bar")
      .attr("x",x(0))
      .attr("width", x(loan_pred) - x(0))
      .attr("height", 50);

     bar.append("text")
        .attr("id", "percent_text")
        .attr("dy", ".75em")
        .attr("y", 15)
        .attr("x", x(0)+30)
        .attr("text-anchor", "middle")
        .attr("fill", "white")
        .attr("font-size", 20)
        .text( loan_pred.toFixed(1) + "%");

    <!-- FUNCTION TO GET PREDICTIONS AND START ALTERING D3 STUFFZ  -->
    function getAndDrawChance(loan_amount, threshold, purpose){

        var data = JSON.stringify({
            "loan_amount": loan_amount,
            "threshold": threshold,
            "purpose": purpose
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/lend/",
            dataType: "json",
            async: true,
            data: data,
            success: function (data) {
                // data is returned as a list of json objects
                // to access an element do data[i]['<field_name>']
                // console.log(data[0]['profit_loss']);
                // console.log(data.length)
                var avg_roi = 2;
                var data = data['loan_data'];
                if (data.length > 0){
                    title = data[0]['title'];
                    actual_loan_purpose = data[0]['purpose'];
                    loan_grade = data[0]['grade'];
                    // loan_desc = data[0]['desc'];

                    for (i = 0; i < data.length; i++) {
                        avg_roi += 100 * data[i]['profit_loss']/data[i]['funded_amount'];
                    }
                    avg_roi = avg_roi/data.length;
                    if (avg_roi > 0){
                        d3.select("#chancebar")
                        .attr("x", x(0))
                        .attr("width", x((avg_roi))-x(0))
                        .attr("fill",'#4caf50');
                        d3.select("#percent_text")
                        .attr("x", x(0)+30)
                        .attr("fill","black")
                        .text(avg_roi.toFixed(1) + "%");
                    } else {
                        d3.select("#chancebar")
                        .attr('x',x(avg_roi))
                        .attr("width",x(0)-x(avg_roi))
                        .attr('fill','red');
                        d3.select("#percent_text")
                        .attr("x",x(0)+30)
                        .attr("fill","red")
                        .text(avg_roi.toFixed(1) + "%");
                    }
                }
                else {
                    d3.select("#chancebar")
                    .attr('x',x(0))
                    .attr("width",x(0))
                    .attr('fill','white');
                    d3.select("#percent_text")
                    .attr("x",x(0)+30)
                    .attr("fill","black")
                    .text(0 + "%");
                }
            },
                error: function (result) {
            }
        })
    }




    var loan_amnt_slider = document.getElementById('loan-amount');
    var loan_amnt_value = document.getElementById('loan_amount');
    noUiSlider.create(loan_amnt_slider, {
        start: 10000,
        connect:'lower',
        orientation:'vertical',
        direction:'rtl',
        tooltips: wNumb({ decimals: 1 }),
        step: 1,
        pips: {
    		mode: 'range',
    		density: 4
        },
        range: {
            'min': 2000,
            'max': 35000
        },
        format: wNumb({
        decimals: 0
        })
    });

    var risk_slider = document.getElementById('risk-tolerance');
    var risk_value = document.getElementById('risk');
    noUiSlider.create(risk_slider, {
        start: 50,
        connect:'lower',
        orientation:'vertical',
        direction:'rtl',
        tooltips: wNumb({ decimals: 1 }),
        step: 1,
        pips: {
            mode: 'range',
            density: 4
        },
        range: {
        'min': 1,
        'max': 100
        },
        format: wNumb({
        decimals: 0
        })
    });

    var amnt_handle = loan_amnt_slider.getElementsByClassName('noUi-handle');
    var risk_handle = risk_slider.getElementsByClassName('noUi-handle');

    // Controls what happens when sliders are used
    loan_amnt_slider.noUiSlider.on('update',function(values, amnt_handle){
        loan_amount = parseFloat(values[amnt_handle]);
        getAndDrawChance(loan_amount,risk,purpose);
    });

    risk_slider.noUiSlider.on('update',function(values, risk_handle){
        risk = (parseFloat(values[risk_handle])/100);
        getAndDrawChance(loan_amount,risk,purpose);
    });

    $('#loan-purpose').change(function() {
        purpose = purpose_field.value;
        getAndDrawChance(loan_amount,risk,purpose);
    })

    getAndDrawChance(loan_amount,risk,purpose);



</script>
